{{ define "main" }}
<div id="TableOfContentsHandler">
  <label onclick="window.history.back()" style="margin: 0 0.4rem 0 0"><-</label>
  <span>{{ .Title }}</span>
  <label for="TableOfContentsHandler__checkbox">
    ToC
  </label>
</div>

<h1 id="page-title">{{ .Title }}</h1>

<div id="meta">{{ with .Date }}{{ .Format "02 January, 2006" }}{{ end }}</div>

{{ with .Params.sources }}
<div
  style="
    margin-top: 1rem;
    background-color: #5465ff15;
    padding: 0.5rem;
    font-size: calc(var(--font-small) + 0.2em)
  "
>
  <!--.-->
  {{ range . }}
  <a href="{{ . }}" class="article-source" style="color: var(--text-dim)">
    💡&nbsp;{{ . }}
  </a>
  {{ end }}
  <!--.-->
</div>
{{ end }}
<div class="page">
  <!--.-->
  {{ if ne .Params.toc false }}
  <!--.-->
  {{ with .TableOfContents }}
  <!--.-->
  {{ if ne . "<nav id=\"TableOfContents\"></nav>" }}
  <input 
    type="checkbox" 
    id="TableOfContentsHandler__checkbox" 
    style="display: none"
  />
  <div id="TableOfContentsWrapper">
    <h3>TABLE OF CONTENT</h3>
    {{ . }}
  </div>
  {{ end }}
  <!--.-->
  {{ end }}
  <!--.-->
  {{ end }}
  <!--.-->
  {{ .Content }}
</div>
{{ end }}
