:root {
  --brand-color: #5465ff15;

  --max-width: 1000px;
  --spacing: 1rem;

  --font-extra-big: 3em;
  --font-big: 2.4em;
  --font-normal: 1.1rem;
  --font-small: 0.8rem;

  --line-height: 1.5;

  --background: #0f0f0f;
  --foreground: #fefefe;
  --text-dim: #919395;
}

/*@media (prefers-color-scheme: dark) {*/
/*:root {*/
/*--background: #111111;*/
/*--foreground: #cccccc;*/
/*--text-dim: #cccccc80;*/
/*}*/
/*}*/

* {
  box-sizing: border-box;
}

::selection {
  color: var(--background);
  background-color: var(--foreground);
}

html,
body {
  margin: 0;
  padding: 0;
  color: var(--foreground);
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  line-height: var(--line-height);
  background-color: var(--background);
}

body {
  font-size: var(--font-normal);
}

a {
  color: var(--foreground);
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

pre {
  max-width: 100%;
  padding: 1rem;
  overflow: auto;
  border-radius: 0.3rem;
}

pre,
code {
  font-size: var(--font-small);
  line-height: 1.3;
}

code {
  font-family: "Fira Mono", monospace;
}

code:not(pre code) {
  padding: 0.1rem 0.4rem;
  background-color: var(--brand-color);
  border-radius: 0.3rem;
}

img {
  width: 100%;
  max-width: 100%;
}

blockquote {
  margin: 0;
  padding: 1rem;
  background: var(--brand-color);
}

blockquote p {
  margin: 0;
}

ul {
  padding-left: 1rem;
}

main {
  margin: auto;
}

i.lni {
  font-size: 1.2em;
}

button {
  display: inline-block;
  margin: 0.2rem;
  padding: 0.5rem 1.2rem;
  color: var(--foreground);
  font: inherit;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: var(--background);
  border: 2px solid var(--foreground);
  cursor: pointer;
  transition: 0.3s ease background, 0.3s ease color;
}

button a {
  display: flex;
  color: inherit;
  text-decoration: none;
  background-color: inherit;
  place-items: center;
}

button:hover {
  color: var(--background);
  background-color: var(--foreground);
}

button.filled {
  color: var(--background);
  background-color: var(--foreground);
}

button.filled:hover {
  color: var(--foreground);
  background-color: var(--background);
}

.homepage-header {
  max-width: var(--max-width);
  margin: 6rem auto;
  padding: var(--spacing);
}

.homepage-header h1 {
  display: inline-block;
  margin: 0;
  color: transparent;
  font-weight: 900;
  background: linear-gradient(to right, #e665d3, #9635e9, #848bf7, #fd95a0);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.blog {
  padding: 4rem 2rem;
  background-color: #181818;
}

.blog h2 {
  margin: 0 auto 3rem auto;
  text-align: center;
}

.card-group {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  max-width: calc(var(--max-width) + 20rem);
  margin: auto;
}

.card {
  padding: 2px;
  background: linear-gradient(to right, #e665d3, #9635e9, #848bf7, #fd95a0);
  border-radius: 0.5rem;
  text-decoration: none;
}

.card-content {
  min-height: 100%;
  padding: 0.6rem;
  font-size: 0.95em;
  background-color: var(--background);
  border-radius: 0.5rem;
}

.card-content .title {
  display: block;
}

.card .excerpt {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-size: var(--font-small);
  color: var(--text-dim);
  max-height: calc(2em + 1em);
}
