{{ define "main" }}
<main class="homepage max-width-60rem margin-auto">
  <header>
    <div>
      <h1 class="font-eczar">{{ .Title }}</h1>
      <p>{{ .Params.description | safeHTML }}</p>
    </div>
  </header>

  <section class="social">
    {{ with .Site.Data.personal.social }}
    <!--.-->
    {{ range . }}
    <a
      title="{{ .name }}"
      aria-label="open my {{ .name }} profile"
      href="{{ .url }}"
      target="_blank"
      rel="noopener"
      class="social-icon"
    >
      <!--<i class="{{ .fa }}"></i>-->
      <i class="lni lni-{{ .icon }}"></i>
    </a>
    {{ end }}
    <!--.-->
    {{ end }}
  </section>

  <section class="experience grid grid-2 grid-sm-1">
    <div class="title-card">
      <h3 class="font-eczar">EXPERIENCE</h3>
      <p>I am experienced in building full-stack web applications.</p>
      <!--<p>-->
      <!--<a-->
      <!--href="https://linkedin.com/in/thisisabdus"-->
      <!--target="_blank"-->
      <!--class="btn"-->
      <!--rel="noopener"-->
      <!-->LinkedIn</a-->
      <!-->-->
      <!--</p>-->
    </div>
    <div class="content-card">
      <h3 class="font-eczar">Software Engineer</h3>
      <strong class="color-accent font-weight-700">Algorisys</strong>
      <small class="color-accent">Full-time &middot; Jan, 2021 - Present</small>
    </div>
    <div class="content-card">
      <h3 class="font-eczar">Front-End Developer</h3>
      <strong class="color-accent font-weight-700">MaiModo</strong>
      <small class="color-accent"
        >Internship &middot; Feb, 2020 - Apr, 2020</small
      >
    </div>
  </section>

  <section class="projects grid grid-2 grid-sm-1">
    <div class="title-card">
      <h3 class="font-eczar">PROJECTS</h3>
      <p>
        I have built a few projects which are worth showing to my (future)
        employer. Here, I am listing a few of them. Rest can be found on my
        GitHub profile.
      </p>
      <p>
        <a
          href="https://github.com/abdus"
          target="_blank"
          class="btn"
          rel="noopener"
          >GitHub</a
        >
      </p>
    </div>

    {{ with .Site.Data.personal.projects }} {{ range . }}
    <div class="content-card card">
      <h3 class="font-eczar color-accent">{{ .name }}</h3>
      <p>{{ .description | safeHTML }}</p>
      <p>
        {{ with .source }}
        <a rel="noopener" class="btn btn-small" href="{{ . | absURL }}"
          >SourceCode</a
        >
        {{ end }}
        <!--.-->
        {{ with .demo }}
        <a rel="noopener" class="btn btn-small" href="{{ .demo | absURL }}"
          >LiveDemo</a
        >
        {{ end }}
      </p>
    </div>
    {{ end }}
    <!--.-->
    {{ end }}
  </section>

  <section class="writings grid grid-2 grid-sm-1">
    <div class="title-card">
      <h3 class="font-eczar">WRITINGS</h3>
      <p>
        I share what I learn in my blogs. Recently, I have started taking notes
        while learning new things. You will find them in 'notes' section.
      </p>
      <p>
        <a href="/posts" class="btn">Blog</a>
        <a href="/notes" class="btn">Notes</a>
      </p>
    </div>
    <div class="content-card">
      <div>
        <!-- prettier-ignore -->
        {{ range first 4 (where site.RegularPages "Type" "in" site.Params.mainSections) }}
        <p>
          <strong
            ><a class="color-accent" href="{{ .Permalink | absURL }}"
              >{{ .Title }}</a
            ></strong
          >
          <br />
          <small>{{ .Date.Format "2 January, 2006" }}</small>
        </p>
        {{ end }}
      </div>
    </div>
  </section>

  <section class="recommendations grid grid-2 grid-sm-1">
    <div class="title-card">
      <h3 class="font-eczar">Recommendations</h3>
      <p>
        I have worked with these people in the past. Here's what they think
        about me and my work. All of these testimonials are coming from my
        LinkedIn profile.
      </p>
      <p>
        <a
          class="btn"
          target="_blank"
          href="https://linkedin.com/in/thisisabdus"
          rel="noopener"
          >LinkedIn</a
        >
      </p>
    </div>

    <!--.-->
    {{ with .Site.Data.personal.testimonials }}
    <!--.-->
    {{ range . }}
    <div class="content-card card">
      <div class="color-accent">{{ .content }}</div>
      <div class="flex-grow-1"></div>
      <div class="name-image color-accent">
        <strong class="font-eczar">{{ .name }}</strong>
        <br />
        <small class="btn btn-small">{{ .designation }}</small>
      </div>
    </div>
    {{ end }}
    <!--.-->
    {{ end }}
  </section>
</main>
{{ end }}
