<section class="author-box">
  <div>
    <img
      src="https://avatars.githubusercontent.com/u/32123917"
      alt="abdus s. azad"
    />
  </div>
  <div>
    <strong
      style="
        display: inline-block;
        margin-bottom: 0.4rem;
        border-bottom: 2px solid var(--foreground);
      "
    >
      About the Author
    </strong>
    <br />

    Abdus is a Software Engineer working for Level. In his free time, he likes
    to play with Linux-based machines. Contact him at
    <a href="mailto:abdus@abdus.net">abdus@abdus.net</a>.
  </div>
</section>
