{{ define "main" }}
<!-- -->
<main class="list-layout max-width-60rem margin-auto">
  <h1 class="accent-color font-eczar text-center color-accent">{{ .Title }}</h1>
  <section class="max-width-45rem margin-auto">
    {{ range (.Paginate .Pages).Pages }}
    <a href="{{ .Permalink | absURL }}" class="card">
      <h3 class="font-eczar color-accent margin-0">{{ .Title }}</h3>
      <div class="content" style="color: #183446">
        {{ if .Params.meta.description }}
        <!--.-->
        {{ .Params.meta.description | truncate 150 }}
        <!--.-->
        {{ else }}
        <!--.-->
        {{ .Summary | truncate 150 }}
        <!--.-->
        {{ end }}
      </div>

      <p style="margin-bottom: 0">
        <span class="btn btn-extra-small"> {{ .ReadingTime }} Mins</span>
        {{ if .Params.tags }} {{ range .Params.tags }}
        <span class="btn btn-extra-small">#{{ . }}</span>
        {{ end }} {{ end }}
        <!--.-->
        {{ with .Date }}
        <span class="btn btn-extra-small"> {{ .Format "2 Jan, 2006" }}</span>
        {{ end }}
      </p>
    </a>
    {{ end }}
    <!--.-->
    {{ template "_internal/pagination.html" . }}
  </section>
</main>
<!-- -->
{{ end }}
