{{ define "main" }}

<div class="hero">
  <div>Abdus Samad Azad</div>
  <div>Software Engineer</div>

  <div class="social">
    <a href="/self">About</a>
    <a href="https://github.com/abdus">GitHub</a>
    <a href="https://twitter.com/abdus_x86">Twitter</a>
    <a href="https://git.abdus.net">Self-hosted Git</a>
    <a href="https://www.linkedin.com/in/thisisabdus">LinkedIn</a>
  </div>
</div>

<section class="homepage-posts">
  <h2 id="blog">BLOG</h2>
  {{ range (.Paginate (where site.RegularPages "Type" "in"
  site.Params.mainSections)).Pages }}
  <article>
    <a href="{{ .Permalink | absURL }}">
      <span class="title">{{ .Title }}</span>
      <span class="date">
        {{ .Date.Format "02 Jan" | upper }}
        <span class="year">{{ .Date.Format ", 2006" | upper }}</span>
      </span>
    </a>

    <small class="summary">{{ .Summary | truncate 300 }}</small>
  </article>
  {{ end }}
  <!--.-->
  {{ template "_internal/pagination.html" . }}
</section>

{{ partial "projects-listing.html" . }}
<!--.-->
{{ partial "open-source-contribution-log.html" . }}

<script>
  (() => {
    const paginationLinks = [...document.querySelectorAll(".page-link")];
    paginationLinks.forEach((link) => {
      link.setAttribute("href", link.getAttribute("href") + "#blog");
    });
  })();
</script>

{{ end }}
