<link rel="stylesheet" href={{ "/css/layout.css" | absURL }} media="all" />
<!--<link rel="stylesheet" href={{ "/css/syntax-dark.css" | absURL }} media="all" />-->
<link
  href="https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;600;700;800&family=Lato:wght@400;700;900&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap"
  rel="stylesheet"
/>
<script
  src="https://kit.fontawesome.com/66c0687ece.js"
  crossorigin="anonymous"
></script>

<meta name="viewport" content="width=device-width, initial-scale=1.0" />
