<link rel="stylesheet" href={{ "/css/layout.css" | absURL }} media="all" />
<link rel="stylesheet" href={{ "/css/lineicons.css" | absURL }} media="all" />
<link rel="stylesheet" href={{ "/css/syntax-dark.css" | absURL }} media="all" />
<link
  defer
  href="https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;600;700;800&family=Lato:wght@400;700;900&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500&display=swap"
  rel="stylesheet"
/>

<meta name="viewport" content="width=device-width, initial-scale=1.0" />

{{ if .Params.meta.description }}
<!-- -->
{{ .Scratch.Set "desc" .Params.meta.description }}
<!-- -->
{{ else }}
<!-- -->
{{ .Scratch.Set "desc" .Summary }}
<!-- -->
{{ end }}
<!-- -->

{{ if .Params.meta.image }}
<!-- -->
{{ .Scratch.Set "image" (.Params.meta.image | absURL) }}
<!-- -->
{{ else }}
<!-- -->
{{ .Scratch.Set "image" ("https://i.ibb.co/RvzfY0Z/website-cover.png" | absURL) }}
<!-- -->
{{ end }}

<!-- Meta Tags -->
<meta name="description" content='{{ .Scratch.Get "desc" }}' />
<!-- -->

<meta name="title" content="{{ .Page.Title }} | {{ .Site.Title }}" />
<meta name="robots" content="index, follow" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="language" content="English" />
<meta name="revisit-after" content="2 days" />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ .Permalink | absURL }}" />
<meta property="og:title" content="{{ .Page.Title }} | {{ .Site.Title }}" />
<meta property="og:description" content='{{ .Scratch.Get "desc" }}' />
<meta property="og:image" content='{{ .Scratch.Get "image" }}' name="image" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="{{ .Permalink | absURL }}" />
<meta
  property="twitter:title"
  content="{{ .Page.Title }} | {{ .Site.Title }}"
/>
<meta property="twitter:description" content='{{ .Scratch.Get "desc" }}' />
<meta property="twitter:image" content='{{ .Scratch.Get "image" }}' />

<title>{{ .Page.Title }}</title>
